<h1>MENU</h1>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <h2><a class="navbar-brand" href="{%url 'find_user'%}">FIND USER</a></h2>
    </div>
  </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <h2><a class="navbar-brand" href="{%url 'user_profile'%}">USER PROFILE</a></h2>
    </div>
  </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <h2><a class="navbar-brand" href="{%url 'user_repository'%}">USER REPOSITORY</a></h2>
    </div>
  </nav>